# private
.bundle
.env.local
.env.user
.tdlib/db
.tdlib/files
/logs/
/tmp/*
!/tmp/.gitkeep

# bundle deployment
vendor
.serena

# envs
.venv
__pycache__/

# test media
input
converted

# whisper models
models

/*epub
/*pdf
/*yml

/*mp4
/*webm

/*ass
/*srt
/*vtt

/*opus
/*wav
