[Unit]
Description=media-downloader-bot
After=network-online.target
Wants=network-online.target

#After=network-online.target vpnspace-openvpn.service
#Wants=network-online.target vpnspace-openvpn.service
#Requires=vpnspace-openvpn.service

[Service]
CPUQuota=900%
LimitNOFILE=1001001
DynamicUser=yes
Nice=19
ProtectHome=yes
RuntimeDirectory=media_downloader_bot
RuntimeDirectoryMode=0755

#NetworkNamespacePath=/var/run/netns/vpnspace
#BindToDevice=vlan2
#RestrictAddressFamilies=AF_INET AF_UNIX
ExecStartPre=/usr/bin/curl ifconfig.co

WorkingDirectory=/srv/media-downloader-bot
ExecStart=/usr/local/rvm/wrappers/ruby-3.3.6/bundle exec bin/bot

Environment="TL_BOT_TOKEN=xxx"
Environment=THREADS=6
#Environment=DEBUG=1
Environment=DB=1

Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
