[Unit]
Description=piper-pt_BR
After=network-online.target
Wants=network-online.target

[Service]
User=braulio
Nice=19

WorkingDirectory=/srv/piper/src/python_run

ExecStart=/srv/piper/src/python_run/venv/bin/python3 -m piper.http_server --model pt_BR-faber-medium --cuda --port 10220 

RestartSec=30

[Install]
WantedBy=multi-user.target
