[Unit]
Description=piper
After=network-online.target
Wants=network-online.target

[Service]
User=braulio
Nice=19

WorkingDirectory=/srv/piper/src/python_run

ExecStart=/bin/bash -c '\
  INSTANCE_INPUT="%i"; \
  IFS=":"; read -r MODEL PORT <<< "$INSTANCE_INPUT"; \
  echo "Starting piper with MODEL: $MODEL, PORT: $PORT"; \
  /srv/piper/src/python_run/venv/bin/python3 -m piper.http_server --model "$MODEL" --cuda --port "$PORT" \
'

Environment=CUDA_VISIBLE_DEVICES=1

RestartSec=30

[Install]
WantedBy=multi-user.target
