[Unit]
Description=whispercpp-server
After=network-online.target
Wants=network-online.target

[Service]
User=braulio
Nice=19

WorkingDirectory=/home/braulio/Projects/whisper.cpp
ExecStart=/home/braulio/Projects/whisper.cpp/build/bin/whisper-server \
  --model /home/braulio/Projects/media-downloader-bot/models/ggml-large-v3-turbo.bin \
  --threads 16 -l auto

RestartSec=30

[Install]
WantedBy=multi-user.target
