[Unit]
Description=whisper-cpp-api
After=network-online.target
Wants=network-online.target

[Service]
DynamicUser=yes
Nice=19
ProtectHome=yes

WorkingDirectory=/srv/media-downloader-bot
ExecStart=/usr/local/rvm/wrappers/ruby-3.3.6/bundle exec bin/whisper_cpp_api

Environment=WHISPER=1
Environment=WHISPER_GPU=1
#Environment=WHISPER_N_PROCS=3

Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
