[Unit]
Description=Hy-MT2 idle proxy for GPU %i
BindsTo=llamacpp-hymt2@%i.service
After=llamacpp-hymt2@%i.service

[Service]
SyslogIdentifier=hymt2-proxy-gpu%i
ExecStart=@/usr/lib/systemd/systemd-socket-proxyd hymt2-proxy-gpu%i --exit-idle-time=10min 127.0.0.1:1202%i
DynamicUser=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
