[Unit]
Description=media-downloader-tdbot
After=network-online.target
Wants=network-online.target

#After=network-online.target vpnspace-openvpn.service
#Wants=network-online.target vpnspace-openvpn.service
#Requires=vpnspace-openvpn.service

[Service]
CPUQuota=500%
LimitNOFILE=1001001
#DynamicUser=yes
User=mdb
Nice=19
ProtectHome=yes
RuntimeDirectory=media_downloader_tgbot
RuntimeDirectoryMode=0755

#NetworkNamespacePath=/var/run/netns/vpnspace
#BindToDevice=vlan2
# IPv6 is more tagged as bot
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
WorkingDirectory=/srv/media-downloader-tgbot
ReadWritePaths=/srv/media-downloader-tgbot
PrivateTmp=true
ExecStart=/usr/local/rvm/wrappers/ruby-3.4.4/bundle exec bin/tgbot

Environment=BUNDLE_DEPLOYMENT=true
Environment=BUNDLE_FROZEN=false
#Environment=TG_BOT_TOKEN=xxx
Environment=THREADS=10
#Environment=CUDA=1
#Environment=CUDA_VISIBLE_DEVICES=1
#Environment=DEBUG=1
Environment=DB=1
Environment=BLOCKED_USERS=7953002711,1372531613,6761769327,6566736341

Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
