[Unit]
Description=media-downloader-tdbot
After=network-online.target
Wants=network-online.target

#After=network-online.target vpnspace-openvpn.service
#Wants=network-online.target vpnspace-openvpn.service
#Requires=vpnspace-openvpn.service

[Service]
CPUQuota=500%
#DynamicUser=yes
User=mdb
Nice=19
RuntimeDirectory=media_downloader_bot

#NetworkNamespacePath=/var/run/netns/vpnspace
#BindToDevice=vlan2
# IPv6 is more tagged as bot
RestrictAddressFamilies=AF_INET AF_UNIX AF_NETLINK
WorkingDirectory=/srv/media-downloader-tdbot
ReadWritePaths=-/srv/media-downloader-tdbot/tmp -/srv/media-downloader-tdbot/.tdlib
ExecStart=/usr/local/rvm/wrappers/ruby-3.4.4/bundle exec bin/tdbot

Environment=BUNDLE_DEPLOYMENT=true
Environment=BUNDLE_FROZEN=false
Environment=THREADS=6
#Environment=CUDA=1
#Environment=CUDA_VISIBLE_DEVICES=1
#Environment=DEBUG=1
Environment=DB=1
Environment=TDLOG=1
Environment=TD_BOT=1

[Install]
WantedBy=multi-user.target
