[Unit]
Description=OmniVoice TTS idle proxy for GPU %i
BindsTo=omnivoice@%i.service
After=omnivoice@%i.service

[Service]
SyslogIdentifier=omnivoice-proxy-gpu%i
ExecStart=@/usr/lib/systemd/systemd-socket-proxyd omnivoice-proxy-gpu%i --exit-idle-time=30min 127.0.0.1:1055%i
DynamicUser=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
