[Unit]
Description=sherpa-onnx diarization idle proxy for GPU %i
BindsTo=sherpa-onnx-diarizer@%i.service
After=sherpa-onnx-diarizer@%i.service

[Service]
SyslogIdentifier=sherpa-proxy-gpu%i
ExecStart=@/usr/lib/systemd/systemd-socket-proxyd sherpa-proxy-gpu%i --exit-idle-time=10min 127.0.0.1:841%i
DynamicUser=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
