[Unit]
Description=whisper.cpp activation socket for GPU %i

[Socket]
ListenStream=127.0.0.1:818%i
Service=whispercpp-server-proxy@%i.service
Accept=no
NoDelay=yes
Backlog=128

[Install]
WantedBy=sockets.target
