[Unit]
Description=whisper.cpp idle proxy for GPU %i
BindsTo=whispercpp-server@%i.service
After=whispercpp-server@%i.service

[Service]
SyslogIdentifier=whisper-proxy-gpu%i
ExecStart=@/usr/lib/systemd/systemd-socket-proxyd whisper-proxy-gpu%i --exit-idle-time=10min 127.0.0.1:828%i
DynamicUser=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
