[Unit]
Description=whisper.cpp TinyDiarize activation socket for GPU %i

[Socket]
ListenStream=127.0.0.1:819%i
Service=whispercpp-tinydiarize-proxy@%i.service
Accept=no
NoDelay=yes
Backlog=128

[Install]
WantedBy=sockets.target
